<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="math.css">
</head>

<body>
  <header class="sticky">
    <div class="left">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
      <span style="font-size:30px;cursor:pointer;color: aliceblue;" onclick="openNav()">&#9776;</span>
      <a href="../index.html" class="logo">
        <img src="../img/logoHead.png" alt="" srcset="">
      </a>
    </div>
    <div class="right">
      <a href="#" id="logIn" class="login">
        <span>Login</span>
        <img src="../img/sign-in-alt-solid.svg" alt="">
      </a>
    </div>
  </header>
  <main>
    <section class="main">
      <div class="text">
        <div class="wrapper">
          <div class="profile-card js-profile-card">
            <div class="profile-card__img">
              <img src="../img/math1.jpg" alt="profile card">
            </div>

            <div class="profile-card__cnt js-profile-cnt">
              <div class="profile-card__name">Tренажер</div>
              <div class="profile-card__txt"><strong>для лучшего понимания перспективы.</strong></div>
              <div class="profile-card-loc">
                <div id="app">
                  <div class="perspec">
                    <section class="settings">
                      <div class="settings-container">
                        <label for="">
                          перспективы: {{perspective}}px;<br>
                          <input type="range" min="0" max="999" v-model="perspective" />
                        </label>
                        <br>
                        <label for="">
                          крутить по Х: {{rotateX}}deg; <br>
                          <input type="range" min="-180" max="180" v-model="rotateX" />
                        </label>
                        <br>
                        <label for="">
                          крутить по Y: {{rotateY}}deg; <br>
                          <input type="range" min="-180" max="180" v-model="rotateY" />
                        </label>
                        <br>
                        <label for="">
                          крутить по Z: {{rotateZ}}deg; <br>
                          <input type="range" min="-180" max="180" v-model="rotateZ" />
                        </label>
                        <br>
                        <label for="">
                          преобразовать источник: {{transformOriginX }} {{transformOriginY}}; <br>
                          <div class="transform-origin-radio-buttons">
                            <div class="transform-origin-x">
                              <label for="t-left">
                                <input type="radio" name="transform-left" value="left" v-model="transformOriginX"
                                  id="t-left" /> лево
                              </label>
                              <br>
                              <label for="t-right">
                                <input type="radio" name="transform-left" value="right" v-model="transformOriginX"
                                  id="t-right" /> право
                              </label>
                              <br>
                              <label for="t-center">
                                <input type="radio" name="transform-left" value="center" v-model="transformOriginX"
                                  id="t-center" /> центр
                              </label>
                            </div>

                            <div class="transform-origin-y">
                              <label for="t-top">
                                <input type="radio" name="transform-right" value="top" v-model="transformOriginY"
                                  id="t-top" /> верх
                              </label>
                              <br>
                              <label for="t-bottom">
                                <input type="radio" name="transform-right" value="bottom" v-model="transformOriginY"
                                  id="t-bottom" /> низ
                              </label>
                              <br>
                              <label for="t-center2">
                                <input type="radio" name="transform-right" value="center" v-model="transformOriginY"
                                  id="t-center2" /> центр
                              </label>
                            </div>
                          </div>

                        </label>
                      </div>
                    </section>
                    <section class="output">
                      <div class="box-container">
                        <div class="box" :style="{ 
                                      transform: `perspective(${perspective}px) rotateX(${rotateX}deg) rotateY(${rotateY}deg) rotateZ(${rotateZ}deg)`,
                                      transformOrigin:`${transformOriginX} ${transformOriginY}`
                                      
                                      }"></div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>

              <div class="profile-card-ctr">
                <button class="profile-card__button button--blue js-message-btn" id="backToMain">Назад</button>
                <!-- <button class="profile-card__button button--orange" id="nextPage">Следующий</button> -->
              </div>
            </div>

            <div class="profile-card-message js-message">
              <form class="profile-card-form">
                <div class="profile-card-form__container">
                  <textarea placeholder="Say something..."></textarea>
                </div>

                <div class="profile-card-form__bottom">
                  <button class="profile-card__button button--blue js-message-close">
                    Send
                  </button>

                  <button class="profile-card__button button--gray js-message-close">
                    Cancel
                  </button>
                </div>

              </form>
              <div class="profile-card__overlay js-message-close"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="math.js"></script>
  <script src="../index.js"></script>
  <script type="text/javascript">

    //Numbers converter script by Lars Peter Thomsen
    //For this script and more Visit http://www.javascriptkit.com
    //Please keep this notice intact

    convertBase = "0123456789abcdefghijklmnopqrstuvwxyz";
    function convert(input, origin, dest) {
      input = input.toString().toLowerCase(); origin = origin.toString(); dest = dest.toString()
      var b = 0; var Result = "";
      if (Number(origin) > convertBase.length || Number(dest) > convertBase.length || Number(origin) < 2 || Number(dest) < 2) return "Invalid numbering system"
      for (var c = 1; c <= input.length; c++) { b += convertBase.indexOf(input.substring(c - 1, c)) * (Math.pow(origin, input.length - c)); if (convertBase.indexOf(input.substring(c - 1, c)) > Number(origin)) return 'Character "' + input.substring(c - 1, c) + '" not present in origin system'; }
      var a = Math.floor(Math.log(b) / Math.log(dest))
      while (a > -1) {
        var e = Math.pow(dest, a)
        a--;
        var d = (b - b % e) / e + 1;
        b %= e;
        Ciffer = convertBase.substring(d - 1, d);
        Result += Ciffer;
      }
      return Result
    }

    document.getElementById("backToMain").onclick = function () { backToMain() };

    function backToMain() {
      var url = '../index.html';
      location.href = url;

    }

    document.getElementById("nextPage").onclick = function () { nextPage() };

    function nextPage() {
      var url = '../videoPage/video.html';
      location.href = url;

    }
  </script>
</body>

</html>